@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@100;400&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*grijs #899CA0 en donkergroen #1C2B32*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: 'Poppins', sans-serif;
}

input,
button {
    font-family: inherit;
}

/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/
.header-section {
    max-width: 1000px;
    background-image: url("../assets/images/mountains.jpg");
    background-size: 100%;
    background-position: ;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 220px;
}

.header-section h1 {
    font-size: 70px;
    font-weight: bold;
    color: #1C2B32;
}

.header-section p {
    font-size: 9px;
    font-weight: 400;
    color: #1C2B32;
}

.header-section input + button {
    margin-left: -5px;
}

.header-section input {
    width: 190px;
    font-size: 9px;
    font-weight: 400;
    color: #1C2B32;
    padding: 13px 13px 13px 13px;
    margin-top: 20px;
    border: 1px solid #1C2B32;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    background-color: rgba(255,255,255,0);
}

.header-section button {
    width: 138px;
    font-size: 9px;
    font-weight: bold;
    padding: 13px 13px 13px 13px;
    margin-top: 17px;
    background-color: #1C2B32;
    color: white;
    border: 1px solid #1C2B32;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
}
/*///////////// 3.2 Testimonial /////////////*/



/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/